@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

@layer base {
  :root {
    --background: 236 73% 14%;
    --foreground: 0 0% 100%;

    --card: 239 41% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 239 41% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 193 100% 50%;
    --primary-foreground: 236 73% 14%;

    --secondary: 44 100% 63%;
    --secondary-foreground: 236 73% 14%;

    --muted: 239 41% 20%;
    --muted-foreground: 235 25% 77%;

    --accent: 193 100% 50%;
    --accent-foreground: 236 73% 14%;

    --destructive: 358 100% 67%;
    --destructive-foreground: 0 0% 100%;

    --border: 239 44% 31%;
    --input: 239 44% 31%;
    --ring: 193 100% 50%;

    --radius: 0.375rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}